html,body{
    background-color: #f6ecdd;
}

header {
    background-color: transparent;
}

.register-form{
    width: 50%;
    height: 50%;
    padding: 30px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.register__content-title {
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    color: #8B7969;
}

/* .register-form__inner{
    max-width: 1230px;
} */

.register-form__input{
    max-width: 500px;
    margin:50px auto;
}

.input-label{
    color: #8B7969;
    font-size: 25px;
}

input{
    background-color: #F4F4F4;
    width: 98%;
    height: 50px;
    border: none;
    border-radius: 3px;
    color: #8B7969;
    font-size: 20px;
}

.register-form__button{
    width: 100%;
    height: 50px;
    margin: 30px auto;
    text-align: center;

}

.register-form__button-submit {
    width: 15%;
    height: 50px;
    background-color: #8B7969;
    color: white;
    font-size: 20px;
    border: none;

}